<h1>投稿一覧</h1>
<table>
  <thead>
    <tr> <%# <tr>とは「table row」の略で表の行部分（横方向）を指定するタグ。縦方向は<td> %>
      <th scope="col">No.</th>
      <%# scope="col" => 縦一列の見出しセルを示す %>
      <th scope="col">タイトル</th>
      <%# <th>とは「table header」の略で、表の見出しやタイトルとなるヘッダセルを作成するタグ %>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each.with_index(1) do |post, i| %>
      <tr>
        <th scope="row"><%= i %></th>
        <%# scope="row" => 横一行の見出しセルを示す %>
        <td><%= post.title %></td>
        <%# <td>とは「table data」の略で、テーブルセルの内容を指定する %>
        <td>
          <%= link_to "詳細", post %>
          <%= link_to "編集", edit_post_path(post) %>
          <%= link_to "削除", post, method: :delete, data: { confirm: "削除しますか?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
